<section class="generator-hero">
    <h2>Color Editor</h2>
    <p>Edit the available colors for your color picker here!</p>
  </section>
  
  <section class="generator-container">
    <div class="controls-container" id="controls-container">
      <h3>Editor Controls</h3>
      <form>
        <label for="addcolor">Add A Color:</label>
        <input type="color" id="addcolorval" name="addcolorval"><br>
        <label for="addcolorname">New Color Name: </label><br>
        <input id="addcolorname" name="addcolorname"><br>
        <button type="submit" id="add-btn" class="cta-button">Add</button><br>
      </form>
      <form>
        <label for="removecolor">Remove A Color:</label>
        <select name="removecolortable" id="removecolortable"></select><br>
        <button type="submit" id="remove-btn" class="cta-button">Remove</button><br>
      </form>
      <form>
        <label for="editcolor">Edit Color:</label>
        <select name="editcolortable" id="editcolortable"></select><br>
        <button type="submit" id="edit-btn" class="cta-button">Edit</button><br>
      </form>
    </div>
    
    <div class="preview-container">
      <h3>Color Table</h3>
    </div>
  </section>